{% extends 'WebViewsBundle:Pages:base.html.twig' %}


{% block links %}
    <script>
        var host = "{{ host }}";
        var port = "{{ port }}";
    </script>
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    
    <script src="{{ asset('Chart.js') }}"></script>
    <link href="{{ asset('css/air.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('js/air.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#controllers-info">
                        Controllers info
                    </a>
                </h4>
            </div>
            <div id="controllers-info" class="panel-collapse collapse">
                <table class="table" id="controllers-info-table">

                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#current-values">
                        Current values</a>
                </h4>
            </div>
            <div id="current-values" class="panel-collapse collapse in">
                <table class="table" id="current-values-table">

                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#controls">
                        Controls</a>
                </h4>
            </div>
            <div id="controls" class="panel-collapse collapse">
                <table class="table" id="controls-table">

                </table>
            </div>
        </div>
    </div>

{% endblock %}